<div class="w3-main" style="margin-left:340px;margin-right:40px">
    <div class="w3-container" id="designers" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>¿Quiénes somos?</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="https://www.kindpng.com/picc/m/80-800188_random-user-random-icon-png-transparent-png.png" alt="John" style="width:100%">
            <div class="w3-container">
              <h3>Enzo Morales</h3>
              <p class="w3-opacity">Desarrollador</p>
              <p>El encargado de la creación de la funcionalidad de este proyecto. Es quién se aseguró de que los datos manejados de forma interna, se intercambiaran de forma correcta.</p>
            </div>
          </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="https://www.kindpng.com/picc/m/80-800188_random-user-random-icon-png-transparent-png.png" alt="Jane" style="width:100%">
            <div class="w3-container">
              <h3>Cristopher Zúñiga Jiménez</h3>
              <p class="w3-opacity">Diseñador</p>
              <p>Este, se encargó de diseñar la interfaz que se utiliza para interactuar con el programa, teniendo siempre en mente la comodidad y claridad hacia los usuarios, para poder hacerla lo más amigable posible.</p>
            </div>
          </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
          <div class="w3-light-grey">
            <img src="https://www.kindpng.com/picc/m/80-800188_random-user-random-icon-png-transparent-png.png" alt="Mike" style="width:100%">
            <div class="w3-container">
              <h3>Tecnológico de Costa Rica</h3>
              <p class="w3-opacity">Jefe</p>
              <p>Es el encargado de este proyecto. En este caso, el Tenológico de Costa Rica asume este rol, debido a que es quién hace posible la creación de este proyecto (de la mano del profesor a cargo, claro).</p>
            </div>
          </div>
        </div>
      </div>
</div>